/* =============================================================================
    FONTS
============================================================================= */
$font-std: 'Muli', sans-serif;

/* =============================================================================
    SITE COLORS
============================================================================= */
$c-black: #000;
$c-white: #fff;

$c-main: #ffcd19;
$c-accent: #00b6dc;
$c-header: #002841;


$c-content: #333333;

$canvas: rgb(229, 227, 223);

/* =============================================================================
    RESPO SIZES
============================================================================= */
$mobile-xl: 1440px;
$mobile-l: 1239px;
$mobile-m: 1023px;
$mobile-s: 767px;
$mobile-xs: 374px;
